p {
  color: white;
  font-family: Roboto;
}

* {
  background-image: url("https://media.istockphoto.com/id/938050474/photo/twinkling-star-field-overlay-texture-on-black-background.webp?b=1&s=170667a&w=0&k=20&c=VzUGpDajctHoe9dyQ9DwU7r7FOe2X7e-xJwSg5Da7ck=");
}

.myheader1 {
  color: white;
  text-align: center;
  margin-top: 2px;
  font-family: Roboto;
}

.myheader2 {
  color: lightblue;
  text-align: center;
  font-family: Roboto;
}

#introduction {
  margin-left: 100px;
  margin-right: 100px;
}

#logo {
  
}

#kepler-452b {
  
}
  
#55-cancri-e {

}  

.hr-text {
line-height: 1em !important;
    position: relative !important;
    border-color: red !important;
    text-align: center !important;
    height: auto !important;
    opacity: .5 !important;
    width: 50px !important;
}

a {
  color: lightgoldenrodyellow;
}
