p {
  color: white;
  font-family: Roboto;
}

* {
  background-image: url("https://media.istockphoto.com/id/938050474/photo/twinkling-star-field-overlay-texture-on-black-background.webp?b=1&s=170667a&w=0&k=20&c=VzUGpDajctHoe9dyQ9DwU7r7FOe2X7e-xJwSg5Da7ck=");
}

h1 {
  color: white;
  text-align: center;
  margin-top: 2px;
  font-family: Roboto;
}

h2 {
  color: lightblue;
  text-align: center;
  font-family: Roboto;
}

#introduction {
  margin-left: 100px;
  margin-right: 100px;
}

#logo {
  
}

.row{
  display: flex;
}

.col-sm-4 {
  float: 33.33%;
  padding: 5px;
}

#kepler-452b {
  margin-top: 80px;
  margin-left: 225px;
}
  
#55 cancri-e {
  margin-bottom: 250px;
}  
