p {
  color: white;
}

* {
  background-image: url("https://images.unsplash.com/photo-1620646233562-f2a31ad24425?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8c3RhcnMlMjBibGFja3xlbnwwfHwwfHx8MA%3D%3D&w=1000&q=80");
}

h1 {
  color: white;
  text-align: center;
  margin-top: 2px;
}

h2 {
  color: white;
  text-align: center;
}

#introduction {
  margin-left: 100px;
  margin-right: 100px;
}

#logo {
  
}
  
